<nz-card class='form-card' nzTitle="物品装备">
  <div>
    <h3>
      武器：
    </h3>
    <app-transfer [dataSource]="weapons" (onTransfer)="updateWeapons($event)">
    </app-transfer>
  </div>

  <div>
    <h3>
      盔甲：
    </h3>
    <app-transfer [dataSource]="armorTransferItems" (onTransfer)="updateArmors($event)">
    </app-transfer>
  </div>

  <div>
    <h3>
      物品：
    </h3>
    <app-transfer [dataSource]="goodsTransferItems" (onTransfer)="updateGoods($event)">
    </app-transfer>
  </div>

</nz-card>
