<div style="margin-top: 32px" *ngIf="magicProfessions.length !== 0">
  <nz-card class='form-card' nzTitle="法术">
    <nz-tabset>
      <div *ngFor="let profession of magicProfessions">
        <nz-tab [nzTitle]="professionInfo.getInfo(profession.id).label">
          <nz-tabset>
            <div *ngFor="let magicLevel of magicRange(profession)">
              <nz-tab [nzTitle]="magicLevel + '环法术'">
                <div style="margin-bottom: 32px">
                  <label>
                    剩余法术数：
                    <nz-input-number [nzDisabled]="true"
                                     [ngModel]="getRemainMagicNumber(magicLevel, profession.id)">
                    </nz-input-number>
                  </label>
                </div>
                <app-transfer [dataSource]="getMagicTransferItems(magicLevel, profession)"
                              (onTransfer)="updateMagics($event)">
                </app-transfer>
              </nz-tab>
            </div>
          </nz-tabset>
        </nz-tab>
      </div>
    </nz-tabset>
  </nz-card>
</div>
