<nz-layout style="height: 100%">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <span>
          <i class="anticon anticon-home"></i>
          <span class="nav-text">主页</span>
        </span>
      </li>
      <li nz-menu-item>
        <span>
          <i class="anticon anticon-user"></i>
          <span class="nav-text">人物卡</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
        (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <div style="margin-top: 16px;padding:24px; background: #fff; min-height: 360px;">
        Content
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">©2018 Implement By mnikn</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>