<nz-tabset>
  <div *ngFor="let profession of getMagicProfessions()">
    <nz-tab [nzTitle]="profession.label">
      <nz-tabset>
        <div *ngFor="let magicLevel of magicLevels">
          <nz-tab [nzTitle]="magicLevel + '环法术'">
            <nz-transfer
              [nzDataSource]="getMagicTransferItems(magicLevel, profession.magicType)"
              [nzTitles]="['已持有', '未持有']"
              (nzChange)="updateMagics($event)">
            </nz-transfer>
          </nz-tab>
        </div>
      </nz-tabset>
    </nz-tab>
  </div>
</nz-tabset>

