<div nz-row nzGutter="16">
  <div nz-col nzSpan="24">
    <nz-card class='form-card' nzTitle="基本信息">
      <app-form [formGroup]="basicsInfoForm"
                [formControls]="basicsInfoInputControls">
      </app-form>
    </nz-card>
  </div>

  <div nz-col nzSpan="24" style="margin-top: 32px">
    <nz-card class='form-card' nzTitle="属性技能">

      <app-form [formGroup]="propertyForm"
                [formControls]="propertyFormControls">
      </app-form>

      <h4>
        技能表：
      </h4>
      <app-dnd3r-skill-table [role]="role">
      </app-dnd3r-skill-table>
    </nz-card>
  </div>

  <div nz-col nzSpan="24" style="margin-top: 32px">
    <nz-card class='form-card' nzTitle="物品装备">
      <div>
        <h3>
          武器：
        </h3>
        <nz-transfer
          [nzDataSource]="weapons"
          [nzTitles]="['已持有', '未持有']"
          (nzChange)="updateWeapons($event)">
        </nz-transfer>
      </div>

      <div>
        <h3>
          盔甲：
        </h3>
        <nz-transfer
          [nzDataSource]="armorTransferItems"
          [nzTitles]="['已持有', '未持有']"
          (nzChange)="updateArmors($event)">
        </nz-transfer>
      </div>

      <div>
        <h3>
          物品：
        </h3>
        <nz-transfer
          [nzDataSource]="goodsTransferItems"
          [nzTitles]="['已持有', '未持有']"
          (nzChange)="updateGoods($event)">
        </nz-transfer>
      </div>

    </nz-card>
  </div>


  <app-dnd3r-profession-drawer [defaultProfessions]="role.professions"
                               (professionsChange)="updateProfessions($event)">
  </app-dnd3r-profession-drawer>

  <app-dnd3r-hp-settings-modal [hpSettingsType]="role.hpSettingsType"
                               [customMaxHp]="role.hpSettingsType === HpSettingsType.CUSTOM ? role.maxHp : null"
                               (hpChange)="updateHpSettings($event)">
  </app-dnd3r-hp-settings-modal>
</div>

