<div nz-row nzGutter="16">
  <div nz-col nzSpan="24">
    <nz-card className='basics-info-card' nzTitle="基本信息">
      <form nz-form [formGroup]="basicsInfoForm">
        <div nz-col [nzSpan]="control.colSpan" *ngFor="let control of basicsInfoInputControls">
          <nz-form-item nzFlex>
            <nz-form-label [nzFor]="control.id">{{control.label}}</nz-form-label>
            <nz-form-control>
              <input *ngIf="control.type === 'text'" nz-input
                     [placeholder]="control.placeholder"
                     [type]="control.type"
                     [formControlName]="control.id"
                     [(ngModel)]="control.value"
                     (change)="control.onChange(control.value)"/>
              <nz-input-number *ngIf="control.type === 'number'"
                               [nzPlaceHolder]="control.placeholder"
                               [formControlName]="control.id"
                               [nzMin]="1"
                               [(ngModel)]="control.value"
                               (ngModelChange)="control.onChange(control.value)">
              </nz-input-number>

              <nz-select *ngIf="control.type === 'select'"
                         [ngStyle]="{'minWidth':control.minWidth? control.minWidth : 120+'px' }"
                         [formControlName]="control.id"
                         [nzMode]="control.isMulti ? 'multiple' : 'default'"
                         [(ngModel)]="control.value"
                         [nzDisabled]="control.readonly"
                         [nzAllowClear]="control.allowClear"
                         [nzPlaceHolder]="control.placeholder"
                         (ngModelChange)="control.onChange(control.value)">
                <div *ngFor="let option of control.options">
                  <nz-option [nzValue]="option.id" [nzLabel]="option.label"></nz-option>
                </div>
              </nz-select>
              <textarea *ngIf="control.type === 'textarea'"
                        style="width: 500px"
                        [formControlName]="control.id"
                        [rows]="4"
                        nz-input
                        [(ngModel)]="control.value"
                        (change)="control.onChange(control.value)">
              </textarea>

            </nz-form-control>

            <app-tool-button *ngIf="control.editOnDrawerButton"
                             [model]="control.editOnDrawerButton">
            </app-tool-button>

          </nz-form-item>
        </div>
      </form>
    </nz-card>
  </div>

  <div nz-col nzSpan="24" style="margin-top: 32px">
    <nz-card className='property-card' nzTitle="属性技能">
      <form nz-form [formGroup]="propertyForm">
        <div nz-col [nzSpan]="control.colSpan" *ngFor="let control of propertyFormControls">
          <nz-form-item nzFlex>
            <nz-form-label [nzFor]="control.id">{{control.label}}</nz-form-label>
            <nz-form-control>
              <input *ngIf="control.type === 'text'" nz-input
                     [placeholder]="control.placeholder"
                     [type]="control.type"
                     [formControlName]="control.id"
                     [(ngModel)]="control.value"
                     (change)="control.onChange(control.value)"/>
              <nz-input-number *ngIf="control.type === 'number'"
                               [nzPlaceHolder]="control.placeholder"
                               [formControlName]="control.id"
                               [nzMin]="1"
                               [(ngModel)]="control.value"
                               (ngModelChange)="control.onChange(control.value)">
              </nz-input-number>

              <nz-select *ngIf="control.type === 'select'"
                         [ngStyle]="{'minWidth':control.minWidth? control.minWidth : 120+'px' }"
                         [formControlName]="control.id"
                         [nzMode]="control.isMulti ? 'multiple' : 'default'"
                         [(ngModel)]="control.value"
                         [nzDisabled]="control.readonly"
                         [nzAllowClear]="control.allowClear"
                         [nzPlaceHolder]="control.placeholder"
                         (ngModelChange)="control.onChange(control.value)">
                <div *ngFor="let option of control.options">
                  <nz-option [nzValue]="option.id" [nzLabel]="option.label"></nz-option>
                </div>
              </nz-select>

            </nz-form-control>

          </nz-form-item>
        </div>
      </form>
    </nz-card>
  </div>
  <app-dnd3r-profession-drawer [defaultProfessions]="role.professions"
                               (professionsChange)="updateProfessions($event)">
  </app-dnd3r-profession-drawer>
</div>

