<div nz-row nzGutter="16">
  <div nz-col nzSpan="24">
    <nz-card className='basics-info-card' nzTitle="基本信息">
      <app-form [formGroup]="basicsInfoForm"
                [formControls]="basicsInfoInputControls">
      </app-form>
    </nz-card>
  </div>

  <div nz-col nzSpan="24" style="margin-top: 32px">
    <nz-card className='property-card' nzTitle="属性技能">

      <app-form [formGroup]="propertyForm"
                [formControls]="propertyFormControls">
      </app-form>
    </nz-card>
  </div>
  <app-dnd3r-profession-drawer [defaultProfessions]="role.professions"
                               (professionsChange)="updateProfessions($event)">
  </app-dnd3r-profession-drawer>

  <app-dnd3r-hp-settings-modal [hpSettingsType]="role.hpSettingsType"
                               [customMaxHp]="role.hpSettingsType === HpSettingsType.CUSTOM ? role.customMaxHp : null"
                               (hpChange)="updateHpSettings($event)">
  </app-dnd3r-hp-settings-modal>
</div>

